[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Tarannu
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tarannu
	label-Verified = -1..+1 group user/Tarannu
	push = group user/Tarannu
	read = group user/Tarannu
	rebase = group user/Tarannu
	removeReviewer = group user/Tarannu
	submit = group user/Tarannu
[access "refs/heads/*"]
	create = group user/Tarannu
	push = +force group user/Tarannu
	pushMerge = group user/Tarannu
	read = group user/Tarannu
[access "refs/tags/*"]
	push = group user/Tarannu
	push = +force group user/Tarannu
